<?xml version="1.0"?>
<ruleset name="Coding Standard PSR2 + WordPress in specific code">
	<description>Combination of Coding Standards according to scope</description>
        <file>.</file>
        <exclude-pattern>*/vendor/*</exclude-pattern>
        <exclude-pattern>*/wpcs/*</exclude-pattern>
        
	<rule ref="PSR2">
            <include-pattern>./src/*</include-pattern>
        </rule>
        <rule ref="WordPress-Core">
            <include-pattern>./tests/wp/*</include-pattern>
        </rule>
</ruleset>
